@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Up-Next</h1>
    <h2>Administrative Portal</h2>
    <p>The #1 Spot for all your Vintage and Streetwear Goods.</p>
</div>

<div class="mainBody">
    <div class="mainBody__btn">
        <h2>@Html.ActionLink("View Users", "List", "User")</h2>
    </div>
    <div class="mainBody__btn">
        <h2>@Html.ActionLink("View Products", "List", "Product")</h2>
    </div>
</div>